@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  html {
    @apply transition-colors duration-1000;
  }

  body {
    @apply bg-black text-gray-200 dark:bg-gray-50 dark:text-slate-700 relative font-sans h-screen overflow-x-hidden;
  }
}
